<h1>WP Wide Admin</h1>
<p>
    WordPress Wide Admin Menu is a plugin that allows you to customize the width of the WordPress admin menu.
</p>
<hr/>
<form action="">
    <label for="width">Width:</label>
    <input type="text" name="width" id="width" value="{{ width }}" />
    <input type="submit" value="Save" />
</form>
