<!--suppress CssUnusedSymbol -->
<style>
    #adminmenu, #adminmenuback, #adminmenuwrap, .wp-submenu {
        width: {{ width }} !important;
    }

    .wp-not-current-submenu .wp-submenu {
        left: {{ width }} !important;
    }

    #wpcontent, #wpfooter {
        margin-left: {{ width }} !important;
    }

    html, body {
        background-color: #f1f1f1;
    }
</style>
