<!--suppress HtmlFormInputWithoutLabel -->
<input
    type="number"
    min="160"
    max="512"
    step="5"
    class="w-48"
    placeholder="Admin menu width"
    name="wp-wide-admin-menu-options[wp-wide-admin-menu-width]"
    id="wp-wide-admin-menu-width"
    value="{{field_value}}"
/>
<span class="font-bold">px.</span>
<span class="italic text-blue-400">
    {{field_description}}
</span>
