<!--suppress CssUnusedSymbol -->
<style>
    #adminmenu, #adminmenuback, #adminmenuwrap, .wp-submenu {
        width: {{ width }}px !important;
    }

    .wp-not-current-submenu .wp-submenu {
        left: {{ width }}px !important;
    }

    #wpcontent, #wpfooter {
        margin-left: {{ width }}px !important;
    }
</style>
